---
# Only the main Sass file needs front matter (the dashes are enough)
---
.iframe-container {
  overflow: hidden;
  padding-top: 75%; /* 4x3 Aspect Ratio */
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
